{% extends 'base.html' %}

{% block conteudo %}
<section id="contact">
    <h2>Contato</h2>
    <p>Você pode me contatar através dos seguintes canais:</p>
    <ul>
        <li>
            <img src="{{url_for('static', filename='gmail_logo.webp')}}" alt="Gmail logo" class="contact-logo">
            <span>Email:</span>
            <a href="mailto:gtraldipereira@gmail.com"> gtraldipereira@gmail.com</a>
        </li>
        <li>
            <img src="{{url_for('static', filename='linkedin_logo.webp')}}" alt="LinkedIn logo" class="contact-logo">
            <span>LinkedIn:</span>
            <a href="https://www.linkedin.com/in/gustavo-traldi-ba63431a0/" target="_blank">Gustavo Traldi Pereira - LinkedIn</a>
        </li>
    </ul>
</section>
<button id="mode-toggle"></button>
{% endblock %}
