{% extends 'base.html' %}

{% block conteudo %}
<section id="home">
    <img id="perfil" src="{{url_for('static', filename='foto_perfil.png')}}" alt="foto_de_perfil">
    <p>Olá, eu sou o Gustavo, um desenvolvedor Python,<br> apaixonado por criar soluções inovadoras na área de dados.</p>
</section>

<section id="about">
    <h2>Sobre mim</h2>
    <p>Sou um programador com experiência em algumas tecnologias...</p>
    <p>Você pode conferir mais sobre habilidades e experiências <a href="https://www.linkedin.com/in/gustavo-traldi-ba63431a0/" target="_blank">aqui</a>.</p>
</section>
<button id="mode-toggle">Modo Escuro</button>
{% endblock %}
