{% extends 'base.html' %}

{% block conteudo %}
<section id="projects">
    <h2>Projetos</h2>
    <ul>
        <li>
            <a href="https://github.com/gtraldi/travel-assistant-api" target="_blank" class="project-item-wrapper">
                <div class="project-item">
                    <img src="{{url_for('static', filename='logo_viagens.jpg')}}" alt="logo">
                    <div class="project-details">
                        <h3>API Assistente de Viagens</h3>
                        <p>Desenvolvido com Python e Flask API</p>
                    </div>
                </div>
            </a>
        </li>
        <li>
            <a href="https://github.com/gtraldi/data-center-html-page" target="_blank" class="project-item-wrapper">
                <div class="project-item">
                    <img src="{{url_for('static', filename='logo_data_center.png')}}" alt="logo">
                    <div class="project-details">
                        <h3>Site Data Center Verde</h3>
                        <p>Site HTML/CSS sobre Data Center Verde</p>
                    </div>
                </div>
            </a>
        </li>
        <li>
            <a href="https://github.com/gtraldi/abstract-project-management-system" target="_blank" class="project-item-wrapper">
                <div class="project-item">
                    <img src="{{url_for('static', filename='logo_gestao.png')}}" alt="logo">
                    <div class="project-details">
                        <h3>Sistema de Gestão de Projetos</h3>
                        <p>Projeto baseado na integração de Python e SQL (SQLite3)</p>
                    </div>
                </div>
            </a>
        </li>
    </ul>
</section>
<button id="mode-toggle"></button>
{% endblock %}
